[Unit]
Description=Service to push custom metrics to CloudWatch
ConditionPathExists=/home/ubuntu/cse541_project1/push.py
After=network.target
Wants=metrics.timer

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/cse541_project1
ExecStart=/home/ubuntu/cse541_project1/push.py
PermissionsStartOnly=true
Environment=AWS_DEFAULT_REGION=us-east-1
ExecStartPre=/bin/mkdir -p /var/log/metricsservice
ExecStartPre=/bin/chown syslog:adm /var/log/metricsservice
ExecStartPre=/bin/chmod 755 /var/log/metricsservice
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=metricsservice

[Install]
WantedBy=multi-user.target